@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.grid-container{
    /* display: flex;
    width: 100;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px; 
  font-family: 'Roboto', sans-serif;
 
}

.home-container{
    background-color: rgb(14,23,43);
    height: 100vh;
}

.todo-main{
    background-color: rgb(91,32,183);
    color:white;
    padding: 10px;
    margin: 10px;
    border-radius:6px;
   
  
    /* height: 20rem; */
}



.todo-heading{
    font-size: 20px;
    font-weight: 800;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.todo-description{
    color: #ddd7d7;
    height: 80px;
    padding-top: 10px;
}




.todo-footer{
    display: flex;
    margin-top:10px;
    justify-content: space-between;
    align-items: center;
    
}
.todo-status{
    width: 60%;
    margin: 0;
}
.todo-options{
    display: flex;
    width: 40%;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: 0.2s;
    
}


/* Skeleton */

.skeleton {
    animation :skeleton-loading 1s linear infinite alternate;
}

.skeleton-text{
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
}

.skeleton-text:last-child{
    width: 70%;
    margin-bottom: 0;
}

.skeleton-heading{
    width: 25%;
    height: 1.9rem;
    border-radius: 0.255rem;
}

.skeleton-date{
    width: 40%;
    height: 0.5rem;
    border-radius: 0.125rem;
}
.skeleton-status{
    width: 40%;
    height: 0.8rem;
    margin: 0;
    padding: 0;
    border-radius: 0.125rem;
}

.skeleton-options{
    width: 25%;
    height: 1.6rem;
    border-radius: 0.8rem;
}
@keyframes skeleton-loading {
    0%{
        background-color:  hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200,20%,95%);
    }
}


#bin-img{
    height: 2em;
}


.todo-container {
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: inline-block;
    border: none;
    
}

.todo-dropdown {
    /* border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    font-size:1rem ;
    font-weight: 800;
    -webkit-appearance: none;
    -moz-appearance: none; */
    /* color: white; */
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: white;
    font-size: 0.9rem;
    font-weight: 800;
    /* Add box shadow to give depth */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-dropdown option {
    /* font-family: 'Roboto', sans-serif;
    background-color: white; */
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 1.4rem;
}

.todo-dropdown::-ms-expand {
    display: none;
  }


.todo-dropdown::after {
    content: '▼'; /* Unicode for downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow does not interfere with clicking */
  }
  
  /* Style hover effect for options */
  .todo-dropdown option:hover {
    background-color: #f0f0f0;
  }

/* Define colors based on todo status */
.todo-dropdown[disabled="disabled"] {
    background-color: #937070; 
}

.todo-dropdown[value="completed"] {
    background-color: #4caf50; /* Green color for completed */
}

.todo-dropdown[value="ongoing"] {
    background-color: #ffeb3b; /* Yellow color for ongoing */
}

.todo-dropdown[value="incomplete"] {
    background-color: #f44336; /* Red color for incomplete */
}

  